#features {
  & .cards {
    grid-template-columns: 28rem 1fr 1fr 28rem;
    grid-template-rows: 40.2rem 40.2rem;
    gap: 3.2rem;
  }

  & .card {
    position: relative;
    overflow: hidden;

    & img.desktop-only {
      position: absolute;
      max-width: 24rem;
    }
  }

  & .card:nth-child(1) {
    grid-column: 1/2;
  }

  & .card:nth-child(2) {
    grid-column: 2/4;

    & > div {
      max-width: 25.6rem;
    }
    
    & .desktop-only {
      bottom: 3.2rem;
      right: 3.2rem;
    }
  }
}